.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: $color-gradient;
}

.current-weather-layout{
  height: 60%;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(largeTablet) {
      overflow-y: scroll;
    }
    @include respond(tablet) {
      overflow-y: scroll;
    }
    
}

.chart-layout{
  position: relative;
  overflow-y: auto;
  height: 40%;
  background-color: $color-white;
  display: flex;
  justify-content:center;
}

.recharts-responsive-container{
  overflow:auto;
}

#map{
  height: calc(100vh - 250px);
}
