.weather-info-layout{
    display: flex;
  }
  .weather-info{
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 12rem;
      padding: 1rem 0;
      &--title{
        font-weight: 500;
        font-size: 1.8rem;
      }
      &--number{
        font-size: 2.4rem;
        padding: 8px 8px 8px 15px;
        background: #32a848;
        border-radius: 4px;
        width: 6rem;
        height: 5rem;
      }
      &--number-nobg{
        font-size: 3rem;
      }
      &--review{
        font-size: 1.6rem;
      }
      &--circle{
        width: 4rem;
        height: 4rem;
        border: 2px solid #fff;
        border-radius: 100%;
        background-color: #94d6f7;
      }
      &:not(:last-of-type){
        border-right: 2px solid #fff;
      }
      &:last-child{
        justify-content: space-around;
      }
    }
    &__add-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 1px solid #333;
      border-radius: 100%;
      text-align: center;
      cursor: pointer;

      &::before{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../../assets/img/add.svg);
        background-size: contain;
        content: "";
      }
    }
    &__add-txt{
      color: #333;
      font-weight: 500;
      font-size: 20px;
    }
  }
  
