.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(180deg
,rgba(50,94,189,.913603),rgba(25,107,138,.779149) 60%,rgba(0,172,255,.319765));
}

.current-weather-layout{
  height: 60%;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.chart-layout{
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 40%;
  background-color: #fff;
}

