$color-white: #fff;
$color-gradient: linear-gradient(180deg
,rgba(50,94,189,.913603),rgba(25,107,138,.779149) 60%,rgba(0,172,255,.319765));

$color-primary:#94d6f7;
$color-secondary: #ff8514;
$color-grey: #333;